# Virtual environment
venv/
env/
ENV/
.Python

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django files
db.sqlite3
*.sqlite3
*.log

# IDE/editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/
